@import 'util/unit';


// additional colors


// button

$button-suppressed-background: #E8ECEF;
$button-box-shadow: inset 0 rem-calc(-1) 0 rgba(0,0,0,0.15);
$button-primary-box-shadow: inset 0 rem-calc(-2) 0 rgba(0,0,0,0.15);