@import 'util/unit';


// paddings and margins

$custom-vertical-padding: 0.75rem;
$custom-horizontal-padding: 1.5rem;

// button

$button-suppressed-background: #E8ECEF;
$button-box-shadow: inset 0 rem-calc(-1) 0 rgba(0,0,0,0.15);
$button-primary-box-shadow: inset 0 rem-calc(-2) 0 rgba(0,0,0,0.15);

// box shadow

$custom-soft-shadow: 0 2px 5px 0 rgba(0,0,0,.02),
                     0 6px 16px 0 rgba(0,0,0,.02);

