@import 'util/util';
@import 'settings';

@each $app, $color in $custom-apps {
    .identity-#{$app} {
        background: url('img/avatar-small-#{$app}.png') 0.375rem center no-repeat;
        background-size: 46px;
        padding-left: 3.5rem !important;
    }
}