@import 'util/util';
@import '../settings';

.badge {
    border-radius: $custom-ultimate-radius;
    font-size: $small-font-size;
    padding: 0.25rem 0.75rem;

    &:not(.primary, .secondary, .success, .warning, .alert) {
        background: $light-gray;
        color: $black;
    }
}