//@import "foundation/variables";
//@import "foundation/components/global";
//@import "foundation/components/buttons";

@import 'util/util';

@import "../settings";
@import "../custom-settings";

.button {
    box-shadow: $button-box-shadow;
    border: transparent;


    &.primary {
        box-shadow: $button-primary-box-shadow;
        font-weight: $global-weight-bold;
    }

    &.suppressed {
        background: $button-suppressed-background;
        color: $black;

        &.primary {
            color: get-color(primary);
        }
        &.secondary {
            color: get-color(secondary);
        }
        &.success {
            color: get-color(success);
        }
        &.warning {
            color: get-color(warning);
        }
        &.alert {
            color: get-color(alert);
        }

        &.suppressed:hover {
            background: scale-color($button-suppressed-background, $lightness: -7%)
        }
    }

    // todo: hovers
}

table .button:last-child {
    margin-bottom: 0;
}