@import 'util/util';
@import '../settings';

.content-box {
    background: $white;
    border-radius: $global-radius;
    box-shadow: $custom-soft-shadow;

    .content-box-header {
        @include flex;
        @include flex-align(justify, middle);

        padding: $custom-vertical-padding $custom-horizontal-padding;

        h2,
        h3 {
            margin-bottom: 0;
        }
    }

    .content-box-section {
        padding: $custom-vertical-padding * 1.5 $custom-horizontal-padding $custom-vertical-padding;
    }

    &>*:not(:last-child) {
        border-bottom: 1px solid $border-gray;
    }
}