@import 'util/util';
@import '../settings';


.dropdown {
    >*>a {
        border-radius: $global-radius;
    }

    >.is-active>a,
    >*>a:hover,
    >*>a:focus {
        background-color: $light-gray;
        color: $black;
    }

    >.current>a {
        // todo: fix the !important
        //background: $light-gray !important;
        font-weight: $global-weight-bold;
    }

    .has-submenu {
        a {
            color: $black;

            &:hover,
            &:focus {
                background-color: $light-gray;
                color: $black;
            }
        }

        &.is-active>a,
        &.is-active>.opener {
            color: $black;
            background: $light-gray;
        }

        &>a:after {
            content: '\e900';
            display: inline-block;
            font-family: $custom-icon-font;
            font-size: 12px;
            margin-left: 0.5rem;
            position: static;
        }

        &>.submenu {
            border-radius: $global-radius;
            box-shadow: $custom-floating-shadow;
            margin-top: 0.25rem;
            padding: $custom-vertical-padding * 0.75 0;

            a {
                padding: $custom-vertical-padding $dropdown-padding;
                white-space: nowrap;
            }

            .current {
                border-left: 0.25rem solid $primary-color;
                padding-left: $dropdown-padding - 0.25rem;
                //background: $light-gray;
                font-weight: $global-weight-bold;
            }
        }
    }

    .title {
        color: $medium-gray;
        font-size: $small-font-size;
        padding: $custom-vertical-padding $dropdown-padding;
        line-height: 1rem;
        cursor: default;
    }

    .divider {
        border-bottom: 1px solid $border-gray;
        margin: $custom-vertical-padding * 0.5 0;
    }
}