table {
    &.edgetoedge {
        thead {
            background: transparent;
            border-top: 0;
        }
        tbody, thead {
            border-right: 0;
            border-left: 0;
        }

        th:last-child,
        td:last-child {
            padding-right: 0;
        }
        th:first-child,
        td:first-child {
            padding-left: 0;
        }
    }
}