@import 'util/util';
@import '../settings';

.top-bar-container {
    background: $white;
    box-shadow: $custom-soft-shadow;
    margin-bottom: 2rem;

    @include breakpoint(small only) {
        margin-bottom: 1rem;
        margin-top: -1rem;
    }

    .top-bar-row:not(:last-child) {
        border-bottom: 1px solid $border-gray;
    }

    .top-bar-row-meta {
        padding: $custom-vertical-padding 0;

        .top-bar-left .menu {
            @include flex-align(left, middle);
        }

        .identity {
            font-size: 1.5rem;
        }

        .dropdown>li>.identity {
            margin-right: -0.75rem;


        }

        .top-bar-title {
            margin: 0;

            @include breakpoint(small only) {
                display: none;
            }
        }

        .dropdown>.has-submenu:not(:last-child)>a:not(.stacked-labels) {
            padding: $custom-vertical-padding * 1.125;
            margin-right: 1rem;
        }

        .search {
            position: relative;

            input {
                box-shadow: none;
                padding: $custom-vertical-padding 2.75rem;
                height: 2.75rem;
                background: $light-gray;
                border: none;
                margin-right: 0;
                max-width: 280px;

                @include breakpoint(small only) {
                    max-width: 100%;
                }

                &:focus {
                    background: opacify($light-gray, 0.09);
                }
            }

            &:before {
                content: '\e905';
                color: $medium-gray;
                font-family: $custom-icon-font;
                position: absolute;
                top: 0.625rem;
                left: 1rem;
                display: block;
            }

            .button-clear {
                position: absolute;
                top: 0;
                right: 0;
                height: 2.75rem;
                padding: $custom-vertical-padding;
                color: $medium-gray;

                &:hover,
                &:focus {
                    color: $black;
                    outline: none;
                }
            }
        }

        .app-switch {
            margin-right: 2rem;

            .opener {
                font-size: 12px;
                border-radius: $global-radius;
                padding: $custom-vertical-padding * 1.325 !important;
                height: 2.75rem;
                display: inline-block;

                &:hover,
                &:focus {
                    background: $light-gray;
                }

                &:after {
                    margin-left: 0;
                }
            }

            .submenu {
                margin-top: 0.875   rem;

                a {
                    padding-top: $custom-vertical-padding * 1.5;
                    padding-bottom: $custom-vertical-padding * 1.5;
                }
            }
        }

        .stacked-labels {
            padding: $custom-vertical-padding * 0.4175 $dropdown-padding;
            @include flex;
            @include flex-align(space-between, center);

            .stack {
                display: inline-block;
                margin-right: 0.5rem;

                .subtitle {
                    display: block;
                    font-size: $small-font-size;
                }
            }

            .dongle {
                background: $white;
                border: 1px solid opacify($border-gray, 0.15);
                border-radius: $custom-ultimate-radius;
                display: inline-block;
                margin-right: 0.75rem;

                img {
                    display: block;
                }
            }

            &:after {
                position: relative;
                top: 0.25rem;
            }
        }

    }

    .top-bar-row-menu {
        padding: $custom-vertical-padding * 0.5 0;

        .menu {
            //@include flex-align(justify, middle);

            &>li {
                margin-right: 1rem;
            }
        }
    }

    .accordion-menu {
        &>li:not(:first-child)[aria-expanded="true"] {
            border-top: 1px solid $border-gray;
        }

        &>li:not(:last-child)[aria-expanded="true"] {
            border-bottom: 1px solid $border-gray;
        }
    }
}

.top-bar {
    a {
        color: $black;
    }
}

.title-bar {
    border-bottom: 1px solid $border-gray;
    box-shadow: $custom-soft-shadow;
    height: 4.5rem;
    margin-bottom: 1rem;

    .menu-icon {
        outline: none;
    }

    .title-bar-title {
        height: 100%;

        .identity {
            color: $black;
            display: block;
            font-size: 1.5rem;
            height: 100%;
            padding-top: $custom-vertical-padding;
            padding-bottom: $custom-vertical-padding;
        }
    }
}