<footer>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-4 cell">
                <h2>Pro učitele a školy</h2>
                <ul class="no-bullet">
                    <li><a href="#0">Ucitelský mód</a></li>
                    <li><a href="#0">7 kroků pro rychlý start učitele</a></li>
                    <li><a href="#0">Jak propojit systémy s výukou?</a></li>
                    <li><a href="#0">Ceník licencí pro školy</a></li>
                    <li><a href="#0">Časté dotazy</a></li>
                </ul>
            </div>
            <div class="medium-4 cell">
                <h2>Pro rodiny a jednotlivce</h2>
                <ul class="no-bullet">
                    <li><a href="#0">Rodinná licence</a></li>
                    <li><a href="#0">Domácí procvičování</a></li>
                    <li><a href="#0">Ceník licencí pro rodiny</a></li>
                    <li><a href="#0">Časté dotazy</a></li>
                </ul>
            </div>
            <div class="medium-4 cell">
                <h2>O projektu</h2>
                <ul class="no-bullet">
                    <li><a href="#0">O systémech Umíme</a></li>
                    <li><a href="#0">Autoři projektu</a></li>
                    <li><a href="#0">Youtube kanál </a></li>
                </ul>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="medium-8 cell">
                <p>Umíme česky je systém, který umožňuje důkladné procvičení učiva. Má široké pokrytí a řadu cvičení. Systém Vám ulehčí zadávání domácích úkolů, Vaše studenty bude procvičování bavit a více se toho naučí.</p>
                <p><a href="#0">Více o učitelském módu</a></p>
            </div>
            <div class="medium-4 cell">
                <img src="assets/img/footer-teacher.png" class="dongle" alt="Illustration of a teacher">
            </div>
        </div>
    </div>
</footer>