<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Umíme česky</div>
</div>

<div class="top-bar-container" id="responsive-menu">

    <div class="top-bar-row">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-12 cell">
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li class="has-submenu">
                                    <a href="#0">Umíme česky</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#0">Umíme anglicky</a></li>
                                        <li><a href="#0">Umíme matiku</a></li>
                                        <li><a href="#0">Umíme fakta</a></li>
                                        <li><a href="#0">Umíme programovat</a></li>
                                        <li><a href="#0">Umíme německy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="menu">
                                <li><input type="search" placeholder="Search"></li>
                                <li>
                                    <button type="button" class="button">Search</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar-row">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-12 cell">
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="#0">Přehled</a></li>
                                <li class="has-submenu">
                                    <a href="#0">Procvičování</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#0">Doplňovačka</a></li>
                                        <li><a href="#0">Diktáty</a></li>
                                        <li><a href="#0">Rozřazovačka</a></li>
                                        <li><a href="#0">Čárky</a></li>
                                        <li><a href="#0">Rozbory</a></li>
                                        <li><a href="#0">Mluvené diktáty</a></li>
                                        <li><a href="#0">Korektor</a></li>
                                        <li><a href="#0">Otázky</a></li>
                                        <li><a href="#0">Pexeso</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu is-active">
                                    <a href="#0">Netradiční</a>
                                    <ul class="submenu menu vertical js-dropdown-active" data-submenu>
                                        <li><a href="#0">Vtipy</a></li>
                                        <li><a href="#0">Roboti</a></li>
                                        <li><a href="#0">Střílečka</a></li>
                                        <li><a href="#0" class="is-active">Tetris</a></li>
                                        <li><a href="#0">Příšerky</a></li>
                                        <li class="divider"></li>
                                        <li class="title">Více hráčů</li>
                                        <li><a href="#0">Závody</a></li>
                                        <li><a href="#0">Týmovka</a></li>
                                        <li><a href="#0">Územíčka</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#0">Témata</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#0">Přehled všech témat</a></li>
                                        <li><a href="#0">Psaní i/y</a></li>
                                        <li><a href="#0">Podobně znějící</a></li>
                                        <li><a href="#0">Skloňování a časování</a></li>
                                        <li><a href="#0">Velká písmena</a></li>
                                        <li><a href="#0">Interpunkce</a></li>
                                        <li><a href="#0">Čárky</a></li>
                                        <li><a href="#0">Rozbory vět, stavba slov</a></li>
                                        <li><a href="#0">Tvarosloví</a></li>
                                        <li><a href="#0">Slova a jejich význam</a></li>
                                        <li><a href="#0">Tematická zadání</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#0">Podle třídy</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#0">2. třída</a></li>
                                        <li><a href="#0">3. třída</a></li>
                                        <li><a href="#0">4. třída</a></li>
                                        <li><a href="#0">5. třída</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#0">6. třída</a></li>
                                        <li><a href="#0">7. třída</a></li>
                                        <li><a href="#0">8. třída</a></li>
                                        <li><a href="#0">9. třída</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#0">Střední škola</a></li>
                                    </ul>
                                </li>

                                <li><a href="#0">Učím se</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>