<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Umíme česky</div>
</div>

<div class="top-bar-container" id="responsive-menu">

    <div class="top-bar-row">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-12 cell">
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li class="has-submenu">
                                    <a href="#0">Umíme česky</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#0">Umíme anglicky</a></li>
                                        <li><a href="#0">Umíme matiku</a></li>
                                        <li><a href="#0">Umíme fakta</a></li>
                                        <li><a href="#0">Umíme programovat</a></li>
                                        <li><a href="#0">Umíme německy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="menu">
                                <li><input type="search" placeholder="Search"></li>
                                <li>
                                    <button type="button" class="button">Search</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-bar-row">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="medium-12 cell">
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li class="menu-text">Umíme česky</li>
                                <li class="has-submenu">
                                    <a href="#0">One</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#0">One</a></li>
                                        <li><a href="#0">Two</a></li>
                                        <li><a href="#0">Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="#0">Two</a></li>
                                <li><a href="#0">Three</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>